{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- banner -->
	<div class="banner10" id="home1">
		<div class="container">
			<h2>FAQ's</h2>
		</div>
	</div>
<!-- //banner -->

<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
				<li>FAQ's</li>
			</ul>
		</div>
	</div>
<!-- //breadcrumbs -->

<!-- faq -->
	<div class="faq">
		<div class="container">	
			<div class="w3l_faq_grids">
				<div class="w3l_faq_grid">
					<h3>1. Excepteur sint occaecat cupidatat non proident ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>

				<div class="w3l_faq_grid">
					<h3>2. Quis nostrum exercitationem ullam corporis suscipit ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>3. Nemo enim ipsam voluptatem quia voluptas sit ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>4. Ut enim ad minima veniam, quis nostrum exercitationem ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>5. Quis autem vel eum iure reprehenderit qui ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>6. Sed ut perspiciatis unde omnis iste natus error sit ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>7. Nam libero tempore, cum soluta nobis est ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>8. At vero eos et accusamus et iusto odio dignissimos ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>9. Itaque earum rerum hic tenetur a sapiente delectus ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>10. vel illum qui dolorem eum fugiat quo voluptas nulla ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>11. Ut enim ad minima veniam, quis nostrum exercitationem ?</h3>
					<p><b>Ans.</b> But I must explain to you how all this mistaken idea of 
						denouncing pleasure and praising pain was born and I will give 
						you a complete account of the system, and expound the actual 
						teachings of the great explorer of the truth, the master-builder 
						of human happiness. No one rejects, dislikes, or avoids pleasure 
						itself, because it is pleasure.</p>
				</div>
			</div>
		</div>
	</div>
<!-- //faq -->

{% endblock content %}
