{%  extends 'main.html' %}

{% block content %}
<br>
<!---- button  ----->
<div class="container" style="color:blue">
  <p class="align-center">Message box</p>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
{% endif %}

</div>
<div class="container">
  <div class="row">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#form">PRODUCT_TYPE</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#color">PRODUCT_COLOR</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#size">PRODUCT_SIZE</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#product">ADD_PRODUCT</button>
  </div>
</div>

<!----- end button ------>
<!--- add model 1 --->
<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'product' %}">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label>PRODUCT_TYPE</label>
            {{ tagform.as_p }}
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--- end model 1 --->
<!--- add model 2 --->
<div class="modal fade" id="color" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'product' %}">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label>PRODUCT_TYPE</label>
            {{ colorform.as_p }}
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--- edd model 2--->
<!--- add model 3 --->
<div class="modal fade" id="size" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'product' %}">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label>PRODUCT_TYPE</label>
            {{ sizeform.as_p }}
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--- edd model 3--->
<!--- add model 4 --->
<div class="modal fade" id="product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'product' %}">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label>PRODUCT_TYPE</label>
             {{ productform.as_p }}

          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--- edd model 4--->
<div class="container" style="background-color:yellow;">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand</th>
      <th scope="col">Tag</th>
      <th scope="col">Sub Tag</th>
      <th scope="col">Price</th>
      <th scope="col">color</th>
      <th scope="col">Date created</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for prdata in data %}
      <th scope="row">1</th>
      <td>prdata.brand_name</td>
      <td>prdata.tag</td>
      <td>prdata.subtag</td>
      <td>prdata.price</td>
      <td>prdata.color</td>
      <td>prdata.date_created</td>
      <td>prdata.category</td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
      {% endfor %}
    </tr>
    <tr>

  </tbody>
</table>
</div>
{% endblock %}
