{%  extends 'main.html' %}

{% block content %}
<br>

<!-- Add Product Button trigger modal -->
<div class="container">
    <div class="raw">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addtag">
      <h4>Product Type</h4>
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addsize">
      <h4>Product Color</h4>
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcolor">
      <h4>Product Size</h4>
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addproduct">
      <h4>Add Product</h4>
    </button>
    </div>
</div>
<!-- End Add Product Button trigger modal -->

<!-- Add Product Modal -->
<div class="modal fade" id="addtag" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" action="{% url 'product' %}">
              {% csrf_token %}
              {{tagform}}
                  <input type="submit" value="submit">
          </form>
      </div>
    </div>
  </div>
</div>
<!-- End Add Product Modal -->
<!-- Add Product Modal -->
<div class="modal fade" id="addsize" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product size</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" action="{% url 'product' %}">
              {% csrf_token %}
              {{sizeform}}
                  <input type="submit" value="submit">
          </form>
      </div>
    </div>
  </div>
</div>
<!-- End Add Product Modal -->
<!-- Add Product Modal -->
<div class="modal fade" id="addcolor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product color</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" action="{% url 'product' %}">
              {% csrf_token %}
              {{colorform}}
                  <input type="submit" value="submit">
          </form>
      </div>
    </div>
  </div>
</div>
<!-- End Add Product Modal -->
<!-- Add Product Modal -->
<div class="modal fade" id="addproduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" action="{% url 'product' %}">
              {% csrf_token %}
              {{productform}}
                  <input type="submit" value="submit">
          </form>
      </div>
    </div>
  </div>
</div>
<!-- End Add Product Modal -->

{% endblock %}
